<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Familiares</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Lista de Familiares </h1>
        <ul>
            {% for articulo in articulos %}
                <li> 
                    <h2>Mi familiar : {{articulo.nombre}} {{articulo.apellido}}</h2>

                    <p><h3> Es mi {{articulo.Conexion}} <br>
                        Nacio el: {{articulo.fecha_nacimiento}}
                        <br> 
                            Su edad es {{articulo.Edad}} años                       
                        <br>
                        Su email es: {{articulo.Email_usuario}}</h3> </p>
                    <br>
                </li>        
            {% endfor %}
        </ul>
    </body>
</html>